.issuesexpenses {
    padding: 25px 30px;
}
.heading button {
    width: 150px;
    font-size: 1.5rem;
    padding: 10px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 8px;
  }
  .tableHeader {
    display: grid;
    grid-template-columns: 30% 19% 20% 11% 18%;
    justify-content: space-between;
    font-size: 1.1rem;
    align-items: center;
}
  .tableHeader {
    background-color: #848EA0;
    padding: 8px 10px;
    font-weight: 500;
    border-radius: 4px;
    color: white;
    font-size: 1.2rem;
}
.issuesandexpensesCard {
    background-color: white;
    display: grid;
    grid-template-columns: 30% 19% 20% 11% 18%;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    min-height: 70px;
    cursor: pointer;
    transition: all .3s;
    border-bottom: 2px solid #EAEDF0;
}
.issuesandexpensesCard:hover {
    background-color: #EAEDF0;
}
.issuesandexpensesCard h3 {
    font-weight: 500 !important;
}
.issuesandexpensesCard button {
    background-color: #0A60BD;
    padding: 10px 0px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
    margin-left: 18px;
}
.issuesandexpensesCard h3 {
    font-size: 1.1rem;
    padding: 0;
    margin: 0;
    color: #262626;
    flex: 1;
}



.emptyState {
    font-weight: 500;
    text-align: center;
    margin: 50px 0;
}
.issuesandexpensesMedia {
    padding: 14px;
    border-radius: 8px;
    height: fit-content;
    background-color: white;
}
.issuesandexpensesMedia h2 {
    font-size: 1.2rem;
    font-weight: normal;
    color: #373737;
    padding: 12px;
    margin: 0;
    padding: 0;
}
.mediaImages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
.comments h3 {
    font-weight: 300;
    margin-bottom: 30px;
}
.comments p {
    margin: 8px 0;
    color: #22242E;
}
.comments p span {
    color: #848EA0;
}

.mediaImagesContainer {
    height:100px;
    width: 48%;
    margin-bottom: 10px;
}
.mediaImagesContainer img {
    cursor: pointer;
    width: 100%;
    object-fit: contain;
    height: 100%;
}
.line {
    height: 3px;
    background-color: #F2F2F2;
    border-radius: 10px;
    margin: 20px auto;
}
.images {
    height: fit-content;
}


.askForUpdatesBtn {
    background-color: #0073FF;
    color: white;
    padding: 8px 18px;
    min-width: 150px;
    border-radius: 4px;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    transition: all .3s;
}
.askForUpdatesBtn:hover{
    background-color: #005ed2;
}


.calendar {
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: space-between;
    padding: 6px 20px;
    margin-left: auto;
}
.calendar h5 {
    margin-left: 14px;
    font-size: 1.1rem;
    font-weight: 400;
}
.dropdown {
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 6px !important;
    border: 2px solid #0A60BD !important;
    padding: 4px 10px;
    background-color: #fff !important;
    color: #22242E !important;
    outline: none !important;
    cursor: pointer !important;
    margin-bottom: 10px;
}
.dropdownMenu {
    border: 2px solid #d9e1e7 !important;
    margin-top: 8px !important;
    border-radius: 10px !important;
    font-size: 1.2rem !important;

}
.dropdownArrow {
    border-color: #0A60BD transparent transparent !important;
    top: 50% !important;
    transform: translateY(-50%);
    font-size: 2rem;
    border-width: 8px 8px 0 !important;
}

