.tasks {
    width: 100%;
    padding: 15px 30px;
}
.statusCard {
    padding: 12px 16px !important;
    cursor: pointer;
    width: 20%;;
    margin-bottom: 40px !important;

}
.statusCard h3, .statusCard h2 {
    margin: 0;
    padding: 0;
    margin: 4px 0px;
}
.statusCard h3 {
    font-weight: 400;
    font-size: 1.4rem;
}
.statusCard h2 {
    font-weight: 600;
    font-size: 1.6rem;
}
.percentage {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    background-color: #22242E;
    border-radius: 6px;
    color: #fff;
    font-weight: 500;
    font-size: 0.8rem;
    position: absolute;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
}
.taskCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.taskCardHeading {
    display: flex;
    align-items: flex-start;
}
.taskCardHeading h1, .taskCardHeading h4 {
    margin: 0 !important;
    padding: 0 !important;
}
.taskCardHeading h1 {
    margin-right: 8px !important;
    font-size: 1.5rem;
    color: #171725;
    font-weight: 500;
}
.taskCardHeading h4 {
    font-weight: 500;
}
.taskCard {
    display: grid;
    grid-template-rows: 56% 16% 30%;
    flex-direction: column;
    min-height: 200px;
}
.taskCardHeading .creater {
    display: flex;
    align-items: center;
}
.taskCardHeading .creater p {
    padding: 0;
    margin: 0;
    color: rgb(45, 45, 45);
}
.taskCardHeading .creater img {
    height: 40px;
    width: 40px;
    background-color: grey;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 50%;
}

.taskCardHeading p {
    font-size: 1.2rem;
    color: #57575c;
}
.taskCardDate {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.taskCardDate p {
    font-weight: 500;
    color: #171725;
    font-size: 1.2rem !important;
}

.result img {
    height: 12px;
}

.taskCardProgress {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.taskCardProgress .progressBar {
    background-color: rgba(194, 194, 194, 0.795);
    height: 12px;
    width: 100%;
    border-radius: 4px;
}
.taskCardProgress .progressBar .progressBarInner {
    background-color: #FA9601;
    height: 100%;
    border-radius: 5px;
}
.progressBarInner {
    position: relative;
}
.addModuleBtn {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.moduleModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}
.moduleModal form {
    margin-bottom: 20px;
}
.moduleModal form input[type='text'] {
    font-size: 1.3em;
    padding: 8px;
    border: none;
    outline: none;
    border-radius: 3px;
    border: 1px solid #848EA0;
    margin-right: 14px;
    min-width: 350px
}
.moduleModal div {
    font-size: 1.3rem;
    cursor: pointer;
    transition: all .3s;
}
.moduleModal div:hover {
    background-color: #848EA0;
}
.closeModal {
    display: block;
    margin-top: 30px;
    margin-left: auto;

}
.moduleModal h4 {
    margin: 0;
    padding: 0;
    color: rgba(0, 133, 0, 0.842);
    display: block;
    text-align: center;
}



.dateDelay {
    color: #D53939 !important;
    background-color: #ff00001f;
    padding: 6px 10px ;
    margin-bottom: 4px;
    border-radius: 10px;
}

.dropdown, .sortDropdown {
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 6px !important;
    border: 2px solid #0A60BD !important;
    padding: 5px 10px !important;
    background-color: #fff !important;
    color: #22242E !important;
    outline: none !important;
    cursor: pointer !important;
}
.sortDropdown {
    border: none !important;
    border: 2px solid #EAEDF0 !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px !important;
}
.dropdownMenu {
    border: 2px solid #d9e1e7 !important;
    margin-top: 8px !important;
    border-radius: 10px !important;
    font-size: 1.2rem !important;

}
.dropdownArrow, .sortDropdownArrow {
    border-color: #0A60BD transparent transparent !important;
    top: 50% !important;
    transform: translateY(-50%);
    font-size: 2rem;
    border-width: 8px 8px 0 !important;
}
.sortDropdownArrow {
    border-color: #EAEDF0 transparent transparent !important;

}
.line {
    background-color: rgba(184, 184, 184, 0.322);
    height: 2px;
    width: 80%;
    margin: 8px auto;
    border-radius: 4px;
}