.main {
    padding: 15px 30px;
}
.filter {
    background-color: #EAEDF0;
    border-radius: 8px;
    width: 25%;
    height: 80vh;
    padding: 18px;
    overflow-y: scroll;
    position: fixed;
}
.filter p {
    background-color: white;
    border-radius: 8px;
    margin-bottom: 12px;
    padding: 10px;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all .3s;
}
.filter p:hover {
    background-color: #0A60BD;
    color: white;
}
.calendar {
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: space-between;
    padding: 6px 20px;
    margin-left: auto;
}
.calendar h5 {
    margin-left: 14px;
    font-size: 1.1rem;
    font-weight: 400;
}

.docs {
    margin: 25px 0;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    justify-content: space-between;
    align-items: center;
}
.doc {
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: center;
}
.doc p {
    background-color: #EAEDF0;
    padding: 6px 4px;
    color: #22242E;
    width: 100%;
    border-radius: 0 0 10px 10px;
    font-weight: 500;
}
.image {
    height: 200px;
}
.image img {
    border-radius: 10px 10px 0 0;
    width: 100%;
    object-fit: cover;
    height: 100%;
    display: block;
    cursor: pointer;
}




