.details {
    display: grid;
    grid-template-columns: 30% 63%;
    justify-content: space-between;
    padding: 40px;
    min-height: 100vh;
    /* background-color: #FCFCFE; */
}
.layers {
    position: relative;
    margin: 50px 0;
}
.layers div {
    height: 30px;
    margin-bottom: 6px;
    border-radius: 10px 10px 0px 0px;
}
.layers :nth-child(1){
    background-color: #A8A89D;
}
.layers :nth-child(2){
    background-color: #777777;
}
.layers :nth-child(3){
    background-color: #846953;
}
.layers :nth-child(4){
    background-color: #6B4423
}
.layers p {
    font-size: 1.1rem;
}
.taskWiseChainage select {
    min-width: 60%;
    padding: 4px 8px;
    font-size: 1.7rem;
    border-radius: 4px;
    border: 2px solid #0472FB;
    outline: none;
    cursor: pointer;
}
.taskWiseChainage table {
    width: 100%;
    margin: 10px 0;
    font-size: 1.2rem;
    text-align: left;
    
}
.taskWiseChainage table i {
    color: rgb(106, 106, 106);
    margin-right: 8px;
    font-size: 1rem;
}
.taskWiseChainage table thead th {
    background-color: #E0E0E0;
    padding: 10px 12px;
}
.taskWiseChainage table tbody td {
    padding: 20px 12px;
    vertical-align: baseline;
}
.taskWiseChainage tbody td {
    border-bottom: 2px solid #d0d0d0;
}
.taskWiseChainage table p {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}
.taskWiseChainage table tbody tr:nth-child(even){
    background-color: #E8F3FE
}
.taskWiseChainage table tbody tr:hover {
    cursor: pointer;
    background-color: #E8DDF6;
}
.chainagefilter {
    max-width: fit-content;
    display: flex;
    align-items: center;
    border: 1px solid rgb(210, 210, 210);
    padding: 8px 12px;
    margin: 0;
    margin-bottom: 40px;
}
.chainagefilter i {
    font-size: 1.4rem;
}
.chainagefilter input {
    margin: 0px 8px;
    text-align: center;
    padding: 6px;
    border: 1px solid grey;
    outline: none;
    color: black;
    border-radius: 6px;
    font-size: 1.2rem;
    background-color: transparent;
}
.chainagefilter button {
    background-color: black;
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 6px 18px;
    border-radius: 6px;
    
}