.analysis {
    background-color: #FCFCFE;
    min-height: 90vh;
    width: 100%;
    padding: 40px 50px;
    display: grid;
    grid-template-columns: 30% 65%;
    grid-column-gap: 5%;
}
.chainagefilter {
    max-width: fit-content;
    display: flex;
    align-items: center;
    border: 1px solid rgb(210, 210, 210);
    padding: 8px 12px;
}
.chainagefilter i {
    font-size: 1.4rem;
}
.chainagefilter input {
    margin: 0px 8px;
    text-align: center;
    padding: 6px;
    border: 1px solid grey;
    outline: none;
    color: black;
    border-radius: 6px;
    font-size: 1.2rem;
    background-color: transparent;
}
.chainagefilter button {
    background-color: black;
    color: white;font-size: 1.1rem;
    font-weight: 500;
    padding: 6px 18px;
    border-radius: 6px;
    
}

.chainageItem {
    margin: 50px 0px;
    cursor: pointer;
    display: flex;
    border-radius: 8px;
    
}
.details{
    cursor: pointer;
    border-radius: 4px;
    transition: all .3s;
    padding: 8px 15px;
    width: 100%;
}
.details:hover {
    background-color: #0467fb36;
}
.chainageDetails {
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    /* max-width: 70%; */
    margin: 18px 0;
    
}
.chainageDetails p {
    font-weight: 500;
    font-size: 1.2rem !important;
    color: #3F3F3F !important;
}
.chainageDetails p i {
    margin-right: 10px;
    font-size: 1rem;
}

.chainage h2 {
    width: fit-content;
    padding: 5px 20px;
    margin: 24px 0;
    border-radius: 4px;
    font-weight: normal;
}
.chainage p {
    font-size: 1.1rem;
    margin: 6px 0;
    color: rgb(106, 106, 106);
}
.chainageItem h1 {
    color: black;
}
.profit{
 background-color: #B9F2B5;
 color: #64C119;
}
.loss {
 background-color: #F3B4B4;
 color: #DC3B30;
}
.progressBar {
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.a {
    background-color: #0468FB;
    min-height: 50px;
    min-width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.a i {
    color: white;
    font-size: 2rem;
}
.b {
    width: 3px;
    height: 100%;
    background-color: #0468FB;
}