.container {
    padding: 15px 30px;
}
.heading {
    padding: 15px !important;
}
.heading h1, .heading h2 {
    color: white;
}
.heading h1 {
    font-size: 1.3rem;
    font-weight: 400;
}
.heading h2 {
    font-size: 2rem;
    font-weight: 600;
}
.leakage {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 26px 0;

}
.leakage h2, .leakage p {
    margin: 0;
    padding: 0;
}
.leakage p {
    font-size: 1.2rem;
}
.leakage h2 {
    font-weight: 500;
    font-size: 1.7rem;
}
.leakageIcon {
    padding: 10px;
    border-radius: 8px;
    background-color: #EAEDF0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.leakageIcon img {
    width: 30px;
}
.date {
    background-color: #EAEDF0;
    padding: 4px 15px;
    text-align: center;
    max-width: 90%;
    margin: 0 auto;
    border-radius: 8px;
    margin-top: 20px;
    font-size: 1.3rem;
}
.predicted {
    text-align: center;


}
.predicted h1 {
    font-weight: 500;
    font-size: 2.2rem;
}
.predicted p {
    font-size: 1.2rem;
    color: #D53539;
}
.predicted h2 {
    margin: 8px 0 !important;
    padding: 0;
    margin: 14px 0;
    font-weight: 500;
    font-size: 1.5rem;
    padding: 2px 6px;
    color: #22242E;
    border-radius: 8px;
    background-color: #EAEDF0;
}

.insights h1 {
    font-weight: 500;
    margin-bottom: 14px;
}
.row {
    background-color: #FCFDFE;
    border-bottom: 2px solid #EAEDF0;
    cursor: pointer;
    transition: all .3s;
}
.insights .insight {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.insights h2 {
    margin: 0;
    padding: 0;
    padding: 14px;
    font-size: 1.2rem;
    font-weight: 500;
    color: #22242E;
}
.insights h3 {
    font-size: 1.4rem;
    font-weight: 500;
    color: #22242E;
}
.insights p {
    font-size: 1rem;
    padding: 0 14px;
    margin-bottom: 10px;
}
.row:hover{
    background-color: #EAEDF0;
}
.solution h1 {
    margin-bottom: 10px;
    font-size: 1.4rem;
    color: #22242E;
    font-weight: 500;
}
.solution p {
    margin: 20px 0;
    font-weight: 400;
}
.solution span {
font-weight: 600;
}
.solution .line {
    border-radius: 8px;
    height: 2px;
    width: 90%;
    margin: 0 auto;
    background-color: #EAEDF0;
}
.solution a {
    background-color: #0A60BD;
    padding: 8px 12px;
    color: white;
    border-radius: 4px;
    margin: 0px auto;
    margin-top: 45px;
    display: block;
    width: fit-content;
    font-weight: 500;

}


.toggle {
    margin-top: 20px;
}
.toggle button {
    cursor: pointer;
    background-color: #e5e5e5;
    color: #767676;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 1.3rem;

}
.focused {
    background-color: black !important;
    color: white !important;
}

.table {
    margin: 20px 0;
}
.table .tableheader {
    padding: 20px !important;
}
.table .tableheader,.table .tablerow{
    display: grid;
    grid-template-columns: 60% 40%;
    padding: 6px 18px; 
    align-items: center; 
    font-weight: 500;
    border-radius: 10px;
}
.table .tableheader {
    font-size: 1.5rem;
    background-color: #AEAEAE;
}
.table .tablerow {
    cursor: pointer;
    font-size: 1.6rem;
    transition: all .3s;
    margin: 14px 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.table .tablerow:hover {
    background-color: #F2FBFA;
}
.tablerow .tableicons {
    display: flex;
    align-items: center;
}
.tablerow .tableicon {
    margin: 0px 10px;
    height: 60px;
    width: 60px;
    background-color: #979797;
    border-radius: 50%;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tablerow .tableicon img {
    width: 100%;
}
