.container {
padding: 15px 30px;
}

.container .header {
    display: grid;
    grid-template-columns: 40% 18% 18% 18%;
    justify-content: space-between;
}
.header .card h1, .header .card h2 {
    margin: 0 !important;
    padding: 0 !important;
    color: white;
}
.header .card h3, .header .card h4 {
    color: #22242E;
    margin: 0 !important;
    padding: 0 !important;
}
.headerIcon {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    padding: 6px;
    width: 55px;
    background-color: #0A60BD;
    border-radius: 6px;
}
.headerIcon img {
    width: 100%;
}
.header .card h3 {
    font-weight: 400;
}
.header .card h4 {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 1.6rem;
    font-weight: 500;
}
.header .card h1 {
    font-size: 1.4rem;
    margin-top: 20px;
    font-weight: 400;
}
.header .card h2 {
    font-size: 2.7rem;
    font-weight: 600;
}
.header .card {
    padding: 12px !important;
}
.table {
    margin: 20px 0;
}
.table .tableheader {
    font-size: 1.5rem;
    background-color: #848EA0;
    color: white;
    border-radius: 6px;
}
.table .tableheader,.table .tablerow{
    display: grid;
    grid-template-columns: 60% 40%;
    padding: 12px 18px; 
    align-items: center; 
    font-weight: 500;
}
.table .tablerow {
    cursor: pointer;
    font-size: 1.5rem;
    transition: all .3s;
    border-bottom: 2px solid #EAEDF0;
    background-color: #fff;
}
.table .tablerow:hover {
    background-color: #EAEDF0;
}
.tablerow .tableicons {
    display: flex;
    align-items: center;
}
.tablerow .tableicon {
    margin: 0px 10px;
    height: 50px;
    width: 50px;
    background-color: #979797;
    border-radius: 50%;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tablerow .tableicon img {
    width: 100%;
}
.tablerow span {
    font-size: 1.3rem;
    color: rgb(77, 77, 77);
}
.moreDetails {
    margin: 15px 0;
    color: rgb(55, 55, 55);
    font-size: 1.4rem;
}