.container {
    padding: 15px 30px;       
}
.pageHeading {
    font-weight: 500;
}
.toolclass {
    width: fit-content !important;
    opacity: 1 !important;
    font-weight: bold !important;
    padding: 4px 6px !important;
    font-size: 0.9rem !important;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.formGroup {
    display: grid;
    grid-template-columns: 30% 50%;
    margin: 20px 0;
}
.formGroup label {
    font-size: 1.5rem;
}
.formGroup label span {
    color: #D53539;
    font-weight: 500;
}
.formGroup input {
    font-size: 1.3em;
    padding: 8px;
    border: none;
    outline: none;
    border-radius: 3px;
    border: 1px solid #848EA0;
    width: 100%;
}
.formGroup select {
    font-size: 1.3em;
    padding: 8px;
    border: none;
    outline: none;
    border-radius: 3px;
    border: 1px solid rgb(199, 199, 199);
    width: 60%;
}
.formGroup input[type='date']{
    width: 60%;
}
.addMoreDetails {
    margin: 20px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1.7rem;
    background-color: transparent;
    color: #22242E;
}
.addMoreDetails i {
    margin-right: 10px;
}

.dropdownMenu {
    border: 2px solid #d9e1e7 !important;
    margin-top: 8px !important;
    border-radius: 10px !important;
}
.dropdownArrow {
    border-color: #848EA0 transparent transparent !important;
    top: 50% !important;
    transform: translateY(-50%);
    font-size: 2rem;
    border-width: 8px 8px 0 !important;
}
.unitDropdown {
    border: none !important;
    border: 1px solid #848EA0 !important;
    min-height: 40px;
    font-size: 1.2rem !important;
    color: #22242E !important;
    margin: 0 !important;
    padding: 8px !important;
    border-radius: 3px !important;
    cursor: pointer !important;
}
.dropdownContainer {
    width: 60%;
}



.addIcon {
    position: absolute;
    left: 2px;
    top: 5px;
}
.addNumber {
    position: absolute;
    right: 2px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    color: #0A60BD;
    background-color: transparent;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 2px;
    cursor: pointer;
}
.addDate {
    margin: 20px 0px;
    display: flex;
    justify-content: space-between;
}
input[type='date'] {
    color: #848EA0;
    width: fit-content;
}
.quantity {
    position: relative;
    width: 40%
}
.label {
    padding: 7px 0px;
    font-size: 1.2rem;
    color: #848EA0;
    font-weight: bold;
    width: fit-content;
    
}
.dateInput {
    color: #848EA0;
    border: none;
    outline: none;
    font-size: 1rem;
    
}
.dateInput::-webkit-datetime-edit{
    display: none;
}
.dateInput::-webkit-calendar-picker-indicator {
    font-size: 1.6rem;
}
.addedNumber {
    padding: 4px 10px;
    border-radius: 3px;
    background-color: #0A60BD;
    max-width: fit-content;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 500;
    margin: 8px;
    margin-left: 0;
    margin-right: 6px;
}

.success {
    width: fit-content;
    padding: 10px 18px;
    color: #2AC371;
    border-radius: 4px;
    font-size: 1.1rem;
    
}
.loader {
    height: 45px;
    width: 45px;
}


.bulkCreation {
    display: flex;
    align-items: center;
}
.bulkCreation h2 {
    font-weight: 500;
    padding: 0;
    margin: 0;
    font-size: 1.3rem;
    margin-right: 15px;
}
.bulkCreation img {
    width: 25px;
    margin-right: 12px;
}
.bulkCreation input {
    display: none;
}
.bulkCreation label, .downloadFormat {
    display: flex;
    align-items: center;
    background-color: #22242E;
    color: white;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 20px;
    font-weight: 500;
    transition: all .3s;
}
.downloadFormat {
    padding: 8px;
}
.downloadFormat img {
    margin: 0;
}
.bulkCreation p {
    color: rgba(0, 128, 0, 0.795);
    font-size: 1.2rem;
    font-weight: bold;
}
.typeTask select {
    font-size: 1.5rem;
    padding: 4px 6px;
    -webkit-appearance: menulist;
    -moz-appearance:menulist;
    cursor: pointer;
    border: none;
    outline: none;
    border: 1px solid grey;
    border-radius: 4px;
}
.typeTask label {
    margin-right: 12px;
    font-size: 1.3rem;
    font-weight: 500;
    
}
.typeTask {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
