.main {
    background-color: #EEF0F8;
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;

}
.container {
    padding: 80px 100px;
    width: 80%;
    background-color: white;
    box-shadow: 5px 10px 20px #00000029;
    border-radius: 70px;
    text-align: center;
}
.formInput {
    display: block;
    width: 100%;
    padding: 10px 4px;
    margin: 18px auto;
    border: none;
    border-bottom: 1px solid #e2e2e4;
    outline: none;
    font-size: 1.7rem;
    font-weight: bold;

}
.createBtn {
    background-color:#3099FB;
    cursor: pointer;
    font-size: 1.9rem;
    min-width: 180px;
    border-radius: 40px;
    font-weight: 600;
    margin: 50px 0;
    padding: 13px 60px;
}
.createBtn:hover {
    background-color: #165da0;
}
.formGroup {
    position: relative;
    
}

.addIcon {
    position: absolute;
    left: 2px;
    top: 5px;
}
.addNumber {
    position: absolute;
    right: 2px;
    top: 0px;
    border: none;
    background-color: #3099FB;
    padding: 8px 30px;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 40px;
}
.addNumber:hover {
    background-color: #165da0;
    cursor: pointer;
}
.addedNumber {
    padding: 4px 10px;
    border-radius: 5px;
    background-color: #3099FB;
    max-width: fit-content;
    color: white;
    font-weight: bold;
    margin: 10px;
    margin-top: 0;
}
.success {
    background-color: rgba(65, 192, 103, 0.76);
    width: fit-content;
    margin: 0 auto;
    color: white;
    border-radius: 4px;
    padding: 18px 80px;
    font-size: 1.3rem;
    font-weight: bold;
}
.loader {
    height: 40px;
    width: 40px;
    margin: 20px auto;
}