.calendar {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9999;
}
.monthText p {
    text-align: center;
    font-weight: 600;
}
.monthText p:first-child {
    color: #0A60BD;
    font-size: 1.6rem;
    margin-bottom: 4px;
}
.monthText p:last-child {
    font-size: 1.5rem;
}
.headerButtons {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
.calendarFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.refreshButton {
    font-size: 1.5rem;
    color: #848EA0;
    cursor: pointer;
    transition: all .3s;
}
.calendarIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
    transition: all .3s;
    background-color: #0A60BD;
    height: 42px;
    width: 42px;
    border-radius: 5px;
}
.calendarIcon img {
    width: 80%;
}
.calendarTable {
    padding: 10px;
    border-radius: 4px;
    width: 100%;
}

.days {
    text-align: center;
    padding: 0;
    color: #22242E;
    font-weight: 500;
    margin-bottom: 8px;
}

.selectedDay {
    background-color: pink;
}

.day:hover {
  cursor: pointer;
  border-radius: 2px;
  background-color: #0a61bd7e;
}

.eachDay {
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.today {
    border: 2px solid #0A60BD;
    border-radius: 2px;
    border-radius: 2px;
}

.dayCount {
    font-size: 1rem;
    font-weight: bold;
    z-index: -1;
}



