.dpr {
    padding: 15px 30px;
}
.pageHeading {
    font-weight: 500;
}
.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.calendar {
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: space-between;
    padding: 6px 20px;
    margin-left: auto;
}
.calendar h5 {
    margin-left: 14px;
    font-size: 1.1rem;
    font-weight: 400;
}
.cards {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: flex-end;
    justify-content: space-between;
    margin: 30px 0;
}

.card {
    margin: 0 !important;
    margin-right: 30px !important;
    min-width: 200px !important;

}
.card h2 {
    font-weight: 400;
    color: #848EA0;
    font-size: 1.3rem;
    margin: 0 !important;
    margin-bottom: 20px !important;
}
.card h4 {
    font-size: 1.8rem;
    font-weight: 500;
}
.table {
    margin-top: 50px;
}
.tableHeader, .tableRow {
    display: grid;
    grid-template-columns: 40% 18% 18% 18%;
    justify-content: space-between;
    font-size: 1.1rem;
    align-items: center;
}
.tableHeader {
    background-color: #848EA0;
    padding: 10px 10px;
    font-weight: 500;
    border-radius: 4px;
    color: white;
    font-size: 1.2rem;
}
.tableRow {
    cursor: pointer;
    transition: all .3s;
    border-bottom: 2px solid #EAEDF0;
    padding: 16px 12px;
    min-height: 65px;
    font-size: 1.2rem;
    color: #22242E;
    font-weight: 400;
}
.tableRow:hover {
    background-color: #EAEDF0;
}
.radio {
    margin-left: 15px;
    font-size: 1.1rem;
    font-weight: normal;
    display: flex;
    align-items: center;
}
.radio input {
    width: 20px;
    height: 20px;
    border: none;
    outline: none;
   cursor: pointer;
}
.radio div {
    display: flex;
    align-items: center;
    margin: 0px 8px;
}
.radio label {
    margin: 0 5px;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
.main {
    display: flex;
    justify-content: space-between;
}

/* Width of left side column: */
.sideDetails {
    width: 25%;
    /* background-color: rgba(146, 118, 118, 0.589); */
}

/* Width of right side column: */
.mainDetails {
    width: 75%;
    /* background-color: rgba(93, 109, 102, 0.527); */
}

.plannedCost h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.8rem;
    padding: 8px;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    margin-top: -40px;
}
.success {
    background-color: #5AB044;
}
.fail {
    background-color: red;
}
.plannedCost {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.plannedCost h2 {
    color: rgb(36, 35, 35);
}

.plannedCost h5 {
    background-color: rgba(128, 128, 128, 0.192);
    padding: 3px 30px;
    border-radius: 20px;
    color: grey;
}
.workProgress {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.workProgress h1, .expenses h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(77, 151, 170);
    color: white;
    font-size: 1.2rem;
    padding: 8px 20px;
    border-radius: 4px;
   margin-top: -40px;
   width: fit-content;
   margin-left: auto;
   margin-right: auto;
}
.workProgress p {
    text-align: center;
    font-size: 0.8rem;
    margin: 10px 5px;
}
.workProgress h2 {
    font-size: 1rem;
    color: rgb(45, 45, 45);
}
.workProgressArea, .workProgressVolume {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.workProgress hr, .expenses hr {
    height: 2px;
    border-radius: 2px;
   
    margin-top: 10px;
   background-color: rgba(211, 211, 211, 0.623);
    width: 80%;
    border: none;
    margin-left: auto;
    margin-right: auto;
}
.expenses div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0
}
.expenses h3 {
    margin: 0;
    font-size: 1rem;
    color: rgb(33, 33, 33);
    line-height: 1.5rem;
}
.plannedCost, .workProgress,.expenses {
    margin: 40px 0 !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.Approved, .Pending,.Rejected {
    background-color: rgba(206, 206, 206, 0.418);
    border-radius: 20px;
    font-size: 0.8rem;
    padding: 5px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.Approved {
 color: green;
}
.Approved::before{
    content: 'Approved';
}

.Pending::before{
    content: 'Pending';
}
.Pending{
    color: orange;
}

.Rejected::before {
    content: 'Rejected';
}
.Rejected{
color: red;
}

/* Right side details: */

.mainDetails {
    padding: 18px;
}

.mainDetails h1 {
    margin-bottom: 18px;
    font-size: 1.7rem;
    color: rgb(36, 36, 36);
}

.man i, .machine i, .material i {
    background-color: rgb(77, 151, 170);
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-top: -25px;
    color: white;
    font-size: 1.2rem;
}
.man, .machine, .material {
    transition: all .3s;
    cursor: pointer;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.man h1, .machine h1, .material h1 {
    font-size: 1.3rem;
    margin: 8px 0;
}
.man:hover, .material:hover, .machine:hover {
    background-color: rgba(220, 220, 220, 0.836);
}
.manTable, .machineTable, .materialTable {
    display: none;
    width: 100%;
    text-align: left;
    margin-bottom: 15px;
    background-color: white;
}
.manTable thead tr, .machineTable thead tr, .materialTable thead tr {
    background-color: black;
    color: white;
    width: 300px;
}
.manTable thead tr th, .machineTable thead tr th, .materialTable thead tr th  {
    border-radius: 0;
    padding: 6px;
    width: 300px;
}
.manTable td, .machineTable td, .materialTable td {
    padding: 10px;
    font-weight: 500;
}
.date {
   padding: 4px 8px;
   border: none;
   border-radius: 8px;
   font-size: 1rem;
   outline: none;
}
.tableRow td.profit {
    color: green;
}
.tableRow td.loss {
    color: red;
}
.headerButtons {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    align-items: center;
    justify-content: space-between;

}
.headerButtons button, .headerButtons button a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 !important; 
    height: 50px;
}
.headerButtons i {
    margin-right: 6px;
    font-size: 1.7rem;
}
.downloadExcel {
    border: 2px solid #22242E;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


