.documents {
    padding: 15px 30px;
}
.card h1 {
    color: #22242E !important;
    font-size: 1.5rem !important;
    font-weight: 600 !important;
    margin: 0;
    padding: 0;
}
.card .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}
.folders {
    margin: 30px 0;
    margin-bottom: 45px;
    display: grid;
    grid-template-columns: 31% 31% 31%;
    justify-content: space-between;
    align-items: flex-start;
}
.folders img {
    width: 100%;
    margin-bottom: 6px;
}
.folder {
    margin-bottom: 18px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.folder p {
    font-size: 0.9rem;
    color: #22242E;
}
.viewAll {
    color: #0A60BD;
    font-weight: 500;
    text-decoration: underline;
}
.viewAll:hover {
    color: #0A60BD;

}
.docs {
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-between;
    align-items: center;
}
.doc {
    border-radius: 8px;
    margin-bottom: 16px;
    text-align: center;
}
.doc p {
    background-color: #EAEDF0;
    padding: 4px;
    color: #22242E;
    width: 100%;
    border-radius: 0 0 10px 10px;
    font-weight: 500;
}
.mediaImage {
    border-radius: 10px 10px 0 0;
    width: 100% !important;
    object-fit: cover;
    padding: 0 !important;
}
.recent {
    display: flex;
}
.image {
    border-radius: 10px 10px 0px 0px;
    background-color: #EAEDF0;
    height: 100px;
}
.image img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    padding: 10px;
}
.recent .doc {
    width: 160px;
    margin-right: 20px;
}

.newfolder {
    width: 80%;
}
.newfolder{
    position: relative;
    cursor: pointer;
}
.newfolder i {
    height: 40px;
    width: 40px;
    background-color: #0A60BD;
    border-radius: 30%;
    position: absolute;
    bottom: 10px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: white;
}
.modal {
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    width: 40%;
}
.modalHeader {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 12px;
}
.modalFooter {
    display: flex;
    justify-content: space-between;
}
.modalBody {
    margin: 30px 0;
}
.modalBody input {
    border: none;
    outline: none;
    border: 1px solid #EAEDF0;
    font-size: 1.5rem;
    border-radius: 4px;
    padding: 8px 10px;
    width: 100%;
    color: #22242E;
}
.mediaImage {
    width: 100%;
    display: block;
    height: 90px;
    width: 90px;
    object-fit: cover;

}
.moreDetails {
    display: none;
}
.link:hover .moreDetails {
    display: block;
    height: fit-content;
}
.mediaImage:hover .moreDetails {
    display: block;
    height: fit-content;
}

