.main {
    padding: 15px 30px;
}

.folderImage {
    height: 250px;
    object-fit: cover;
    width: 100%;
    cursor: pointer;
    border-radius: 8px;
}

.modal {
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    width: 40%;
}
.modalHeader {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 12px;
}
.modalFooter {
    display: flex;
    justify-content: space-between;
}
.modalBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}
.inputFile {
    display: none;
}

.customFileUpload {
    height: 250px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.imageLink {
    display: flex;
    justify-content: center;
    align-items: center;
}
.mediaDate {
    font-size: 1.2rem;
    margin-top: 8px;
    color: rgb(63, 63, 63);
}

.docs {
    margin: 25px 0;
    display: grid;
    grid-template-columns: 18% 18% 18% 18% 19%;
    justify-content: space-between;
    align-items: center;
}

.doc {
    background-color: #EAEDF0;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: center;
}
.doc p {
    font-size: 1.1rem;
    font-weight: 500;
}
.doc img {
    height: 200px;
    object-fit: cover;
    margin-bottom: 8px;
    padding: 14px;
    cursor: pointer;
}
.calendar {
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: space-between;
    padding: 6px 20px;
    margin-left: auto;
}
.calendar h5 {
    margin-left: 14px;
    font-size: 1.1rem;
    font-weight: 400;
}
.dropdown {
    font-size: 1.3rem;
    font-weight: 500;
    border-radius: 12px !important;
    border: 2px solid #0A60BD !important;
    padding: 4px 14px !important;
    background-color: #fff !important;
    color: #22242E !important;
    outline: none !important;
    cursor: pointer !important;
}
.dropdownMenu {
    border: 2px solid #d9e1e7 !important;
    margin-top: 8px !important;
    border-radius: 10px !important;
    font-size: 1.2rem !important;

}
.dropdownArrow {
    border-color: #0A60BD transparent transparent !important;
    top: 50% !important;
    transform: translateY(-50%);
    font-size: 2rem;
    border-width: 8px 8px 0 !important;
}