.imageModal {
    padding: 0 !important;
    border-radius: 10px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 80vw;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 999;
    box-shadow: none !important;
    border: 2px solid #22242E;
    transform: translate(-50%,-50%);
}
.modalImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.closeImageModal {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50% !important;
    width: 50px;
    height: 50px;
    position: absolute;
    top: -16px;
    right: -16px;
}
.closeImageModal i {
    font-size: 1.6rem;
}
.downloadBtn {
    position: absolute;
    bottom: 12px;
    right: 12px;
    z-index: 9999;
}