.addBtn {
    margin: 10px;
    background-color: black;
    color: white;
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
    z-index: 9999;
}
.card {
    background-color: white;
    border: 1px solid rgb(0, 166, 255);
    padding: 10px 20px;
    border-radius: 3px;
    color: rgb(33, 33, 33);
    min-width: 250px !important;
    /* max-width: fit-content; */
    /* font-size: 1re; */
}
.card h1 {
    font-size: 1.4rem;
}
.card p {
    margin: 6px 0;
}