.module {
    padding: 15px 30px
}
.dropdown {
  font-size: 1.4rem;
  font-weight: 500;
  border-radius: 12px !important;
  border: 2px solid #0A60BD !important;
  padding: 4px 14px !important;
  background-color: #fff !important;
  color: #22242E !important;
  outline: none !important;
  cursor: pointer !important;
}
.dropdownMenu {
  border: 2px solid #d9e1e7 !important;
  margin-top: 8px !important;
  border-radius: 10px !important;

}
.dropdownArrow {
  border-color: #0A60BD transparent transparent !important;
  top: 50% !important;
  transform: translateY(-50%);
  font-size: 2rem;
  border-width: 8px 8px 0 !important;
}
.dropdownContainer {
  display: grid;
  grid-template-columns: 30%;
}
.heading {
  margin: 20px 0;
  display: grid;
  grid-template-columns: 25% 40%;
  grid-column-gap: 20px;
  font-size: 1.4rem;
  font-weight: 500;

}
.progress {
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}
.progress div {
width: 100px;
height: 100px;
}
.pending img {
  height: 70px;
  width: 70px;
  margin-right: 20px;
}
.pending {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pending p:last-child {
  color: #D53539;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 400;
  font-size: 1.5rem;
}
.pending p span {
  font-weight: 500;
  font-size: 1.8rem;
}
.main {
  display: grid;
  grid-template-columns: 20% 75%;
  justify-content: space-between;
  align-items: center;
}
.cost h3, .cost h2 {
  font-weight: 500;
  text-align: center;
}
.cost h3 {
  font-weight:400;
  font-size: 1.5rem;
}
.cost h2 {
  font-size: 1.8rem;
}
.cost div:last-child {
  color: white;
}
.table {
  margin: 30px 0;
}
.tableHeader, .tableRow {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  justify-content: space-between;
  font-size: 1.1rem;
  align-items: center;
}
.tableBody {
  background-color: #fff;
}
.tableHeader {
  background-color: #848EA0;
  padding: 8px 10px;
  font-weight: 500;
  border-radius: 4px;
  color: white;
  font-size: 1.2rem;
}
.tableRow {
  cursor: pointer;
  transition: all .3s;
  border-bottom: 2px solid #EAEDF0;
  padding: 16px 12px;
  min-height: 65px;
  font-size: 1.1rem;
  color: #22242E;
  font-weight: 400;
}
.tableRow:hover {
  background-color: #EAEDF0;
}
.table table {
  width: 100%;
  text-align: left;
  margin: 10px 0;
}
.table table thead th {
  background-color: #4BA3A5;
  color: white;
  font-size: 1.5rem;
  padding: 10px 12px;
  font-weight: 500;
}
.table table tbody td {
  font-size: 1.5rem;
  padding: 18px 12px;
  vertical-align: baseline;
  font-weight: 500;
}
.table table tbody tr:nth-child(even){
  background-color: #F0F4FE 
}

