.ratelist {
    padding: 15px 30px;
}
.header {
    display: grid;
    grid-template-columns: 70% 28%;
    justify-content: space-between;
    align-items: flex-end;
}
/* .header button, .saveChanges {
    background-color: #004C6D;
    border-radius: 6px;
    color: white;
    font-weight: 400;
    max-width: fit-content;
    font-size: 1.3rem;
    padding: 8px 25px;
    cursor: pointer;
    transition: all .3s;
} */
/* .header button:hover {
    background-color: #012f43;
} */
.dropdownContainer {
    widows: 350px;
}
.dropdown {
    font-size: 1.4rem;
    font-weight: 500;
    border-radius: 12px !important;
    border: 2px solid #0A60BD !important;
    padding: 4px 14px !important;
    background-color: #fff !important;
    color: #22242E !important;
    outline: none !important;
    cursor: pointer !important;
}
.dropdownMenu {
    border: 2px solid #d9e1e7 !important;
    margin-top: 8px !important;
    border-radius: 10px !important;

}
.dropdownArrow {
    border-color: #0A60BD transparent transparent !important;
    top: 50% !important;
    transform: translateY(-50%);
    font-size: 2rem;
    border-width: 8px 8px 0 !important;
}

.headerForm {
    display: grid;
    align-items: flex-start;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
    margin: 0;
    margin-top: 20px;
}
.headerForm .formGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}
.headerForm .formGroup label {
    margin-bottom: 8px;
    font-size: 1.2rem;
    color: #848EA0;
}
.headerForm .formGroup input {
    min-height: 40px;
    font-size: 1.2rem;
    border-radius: 4px;
    border: none;
    outline: none;
    padding: 6px;
    border: 1px solid #848EA0;
}
.unitDropdown {
    border: none !important;
    border: 1px solid #848EA0 !important;
    min-height: 40px;
    font-size: 1.2rem !important;
    padding: 0 !important;
    
    margin: 0 !important;
    padding: 6px !important;
    border-radius: 6px !important;
}
.filterDropdown {
    border-radius: 10px !important;
    border: 2px solid #0A60BD !important;
    background-color: #fff !important;
    padding: 2px 10px !important;
    margin-left: 10px;
}
.successMessage {
    background-color: rgba(65, 192, 103, 0.76);
    width: fit-content;
    color: white;
    border-radius: 4px;
    padding: 10px 18px;
    font-size: 1rem;
    font-weight: bold;
    display: block;
    margin-right: auto;
}
.loader {
    height: 40px;
    width: 40px;
}

.table {
    margin: 20px 0;
}

.tableHeader, .tableRow {
    display: grid;
    grid-template-columns: 5% 18% 20% 12% 12% 15%;
    justify-content: space-between;
    font-size: 1.1rem;
    align-items: center;
}
.tableBody {
    background-color: #fff;
}
.tableHeader {
    background-color: #848EA0;
    padding: 8px 10px;
    font-weight: 500;
    border-radius: 4px;
    color: white;
    font-size: 1.2rem;
}
.tableRow {
    cursor: pointer;
    transition: all .3s;
    border-bottom: 2px solid #EAEDF0;
    padding: 16px 12px;
    min-height: 65px;
    font-size: 1.1rem;
    color: #22242E;
    font-weight: 400;
}
.tableRow:hover {
    background-color: #EAEDF0;
}
.tableRow input {
    color: #22242E;
    outline: none;
    background-color: inherit;
    width: 100% !important;
    padding: 2px 6px !important;
    border: 1px solid #848EA0;
    border-radius: 4px;
    font-size: 1.1rem;
}