.reports {
    padding: 15px 30px;
}
.header button {
    width: fit-content;
    font-size: 1.5rem;
    padding: 10px 25px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 8px;
}
.machineTable, .materialTable, .costTable {
    margin-top: 50px;
}
.tableHeader {
    background-color: #848EA0;
    padding: 10px 10px;
    font-weight: 500;
    border-radius: 4px;
    color: white;
    font-size: 1.2rem;
}
.tableHeader, .tableRow {
    display: grid;
    justify-content: space-between;
    font-size: 1.1rem;
    align-items: center;
}
.tableRow {
    cursor: pointer;
    transition: all .3s;
    border-bottom: 2px solid #EAEDF0;
    padding: 14px 12px;
    font-size: 1.2rem;
    color: #22242E;
    font-weight: 400;
}
.tableRow:hover {
    background-color: #EAEDF0;
}
.machineTable .tableHeader, .machineTable .tableRow {
    grid-template-columns: 8% 15% 15% 18% 18% 18%;
}
.materialTable .tableHeader, .materialTable .tableRow {
    grid-template-columns: 8% 12% 18% 15% 15% 17% 10%;
}
.costTable .tableHeader, .costTable .tableRow {
    grid-template-columns: 5% 15% 15% 15% 15%;
}
