.ratelist {
    padding: 15px 30px;
}
.cardsheader {
    display: grid;
    grid-template-columns:30% 12% 12% 12%;
    justify-content: flex-start;
    margin-bottom: 40px;
}
.cardsheader div {
    margin-right: 10px;
}
.cardsheader h1, .cardsheader h2 {
    color: white;
}
.cardsheader h3 {
    margin-bottom: 6px;
    font-size: 1.7rem;
}
.cardsheader h4 {
    font-size: 1.3rem;
    font-weight: 500;
}
.dropdown {
    font-size: 1.4rem;
    font-weight: 500;
    border-radius: 12px !important;
    border: 2px solid #0A60BD !important;
    padding: 8px 14px;
    background-color: #fff !important;
    color: #22242E !important;
    outline: none !important;
    cursor: pointer !important;
}
.dropdownMenu {
    border: 2px solid #d9e1e7 !important;
    margin-top: 8px !important;
    border-radius: 10px !important;
    font-size: 1.2rem !important;

}
.dropdownArrow {
    border-color: #0A60BD transparent transparent !important;
    top: 50% !important;
    transform: translateY(-50%);
    font-size: 2rem;
    border-width: 8px 8px 0 !important;
}
.tableHeader, .tableRow {
    display: grid;
    grid-template-columns: 10% 14% 6% 6% 5% 12% 11% 11% 8% 8%;
    justify-content: space-between;
    font-size: 1.1rem;
    align-items: center;
}
.tableBody {
    background-color: #fff;
}
.tableHeader {
    background-color: #848EA0;
    padding: 8px 10px;
    font-weight: 500;
    border-radius: 6px;
    color: white;
    font-size: 1.2rem;
}
.tableRow {
    cursor: pointer;
    transition: all .3s;
    border-bottom: 2px solid #EAEDF0;
    padding: 16px 12px;
    min-height: 65px;
    font-size: 1.1rem;
    color: #22242E;
    font-weight: 400;
}
.tableRow:hover {
    background-color: #EAEDF0;
}
.tableRow input {
    color: #22242E;
    outline: none;
    background-color: inherit;
    width: 100% !important;
    padding: 2px !important;
    border: 1px solid #848EA0;
    border-radius: 4px;
    font-size: 1.1rem;
}
.remarks {
    margin-top: 14px;
    font-size: 1.2rem;
    width: 50vw;
}
.remarks span {
    font-weight: 600;
}
.tableHeader i {
    position: absolute;
    font-size: 1.7rem;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(181, 181, 181);
}
.table thead {
    background-color: #D5D5D5;
}
.table thead tr th {
    padding: 10px 4px;
    color: #464A53;
    font-size: 1.3rem;
}
.table tbody td {
    padding: 20px 4px;
    font-size: 1.1rem;
    color: rgb(78, 76, 76);
    font-weight: 400;
    cursor: pointer;
}
.table tbody tr:nth-child(odd){
    background-color: #FAFAFA;
}
.table {
    margin: 20px 0;
    text-align: left;
    width: 100%;
}
.table i {
    margin-left: 10px;
    color: #194C6D;
    font-size: 1.5rem;
}
.table i:hover {
    color: #062336;
}

.calendar {
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: space-between;
    padding: 6px 20px;
    margin-left: auto;
}
.calendar h5 {
    margin-left: 14px;
    font-size: 1.1rem;
    font-weight: 400;
}
.calendar div.clear {
    margin-left: 10px;
    font-size: 0.8rem;
    cursor: pointer;
}