.details {
    background-color: #F3F6F9;
    height: 100%;
    padding: 50px 0;
}
.container {
    max-width: 80%;
    background-color: #fff;
    margin: 0 auto;
    padding: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 3px;
}
.containerHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.containerHeader input[type='date']{
    border: none;
    outline: none;
    font-size: 1.1rem;
    cursor: pointer;
    width: fit-content;
}

.containerHeader input {
    font-size: 1.2rem;
    padding: 8px 4px;
    border: none;
    outline: none;
    font-weight: 500;
    width: 300px;
    border-bottom: 2px solid rgb(206, 206, 206);
}
.containerHeader i {
    position: absolute;
    font-size: 1.2rem;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(181, 181, 181);
}


.table thead {
    background-color: #D5D5D5;
}
.table thead tr th {
    padding: 10px;
    color: #464A53;
    font-size: 1.3rem;
}
.table tbody td {
    padding: 20px 10px;
    font-size: 1.1rem;
    color: rgb(58, 57, 57);
}
.table tbody tr:nth-child(odd){
    background-color: #FAFAFA;
}
.table {
    margin: 20px 0;
    text-align: left;
    width: 100%;
}


.container button {
    border-radius: 6px;
    padding: 6px 20px;
    cursor: pointer;
    font-size: 1.2rem;
    margin: 0px 20px;
    font-weight: 600;
    background-color: #38A3A5;
    display: block;
    margin-left: auto;
}