.search input {
    background-color: #EAEDF0;
    border: none;
    outline: none;
    padding: 8px 12px;
   width: 100%;
    font-size: 1.3rem;
    border-radius: 8px;
    font-weight: 500;
}
.search {
    position: relative;
}
.search img {
    position: absolute;
    right: 10px;
    top: 50%;
    bottom: 50%;
    transform: translateY(-50%);
}