.container {
    padding: 15px 30px;
}
.header h2 {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 14px;
}
.header p {
    font-weight: 500;
    margin-right: 10px;
    font-size: 1.2rem;
}
.header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerCards {
    margin: 20px 0;
    display: grid;
    grid-template-columns: 30% 20% 20% 20%;
    justify-content: space-around;
    align-items: center;
}
.plannedCost {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.plannedCost h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2.4rem;
    padding: 8px;
    border-radius: 0.5rem;
    width: 50px;
    height: 50px;
    margin-top: -40px;
    margin-bottom: 14px;
  }
.plannedCost h2 {
    font-size: 2rem;
    font-weight: 500;
}
  .plannedCost h4 {
      margin-bottom: 10px;
      font-size: 1.5rem;
  }
.plannedCost h5 {
    background-color: #EAEDF0;
    font-weight: normal;
    padding: 3px 40px;
    border-radius: 6px;
    font-size: 1.2rem;
  }

.headerCard h3, .headerCard h4 {
    color: #22242E;
    margin: 0 !important;
    padding: 0 !important;
}
.headerCard {
    padding: 14px !important;
    border: 2px solid #0A60BD;
}
.headerIcon {
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    padding: 6px;
    width: 55px;
    background-color: #0A60BD;
    border-radius: 6px;
    margin-right: 10px;
}
.headerIcon img {
    width: 100%;
}
.headerCard h3 {
    font-size: 1.2rem;
    font-weight: 400;
}
.headerCard h4 {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 1.3rem;
    font-weight: 500;
} 
.taskProgress {
    display: grid;
    grid-template-columns: 40% 55%;
    justify-content: space-between;
    align-items: center;
}
.taskProgress h2 {
    font-size: 1.6rem;
    font-weight: 500;
}
.taskProgress .progress {
    background-color: #EAEDF0;
    height: 25px;
    border-radius: 6px;
    width: 100%;
}
.progressInner {
    position: relative;
    height: 100%;
    border-radius: 6px;
    background-color: #2AC371;
}
.percentage {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    background-color: #848EA0;
    border-radius: 50%;
    color: #fff;
    font-weight: 500;
    font-size: 0.9rem;
    position: absolute;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
}

.cards {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    justify-content: space-between;
    align-items: flex-start;
}
.cards h3 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 16px;
}
.issue, .expense {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    background-color: #EAEDF0;
    padding: 6px 10px;
    border-radius: 8px;

}
.issue p:first-child, .expense p:first-child {
    font-size: 1.1rem;
    font-weight: 400;
}
.issue p:last-child, .expense p:last-child {
    font-weight: 300;
}
.media {
    display: grid;
    grid-template-columns: 48% 48%;
    align-items: center;
    justify-content: space-between;
}
.media div {
    margin-bottom: 16px;
    height: 100px;
}
.media div img {
    border-radius: 4px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Approve, .Pending,.Reject {
    padding: 5px 6px;
    font-size: 0.9rem;
}

.Approve {
 color: #2AC371;
}
.Approve::before{
    content: 'Approved';
}
.Pending::before{
    content: 'Pending';
}
.Pending{
    color: #FA9601;
}

.Reject::before {
    content: 'Rejected';
}
.Reject{
    color:#D53539;
}
.header input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid grey;
    border-radius: 8px;
}
.calendar {
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: space-between;
    padding: 6px 20px;
    margin-left: auto;
}
.calendar h5 {
    margin-left: 14px;
    font-size: 1.1rem;
    font-weight: 400;
}

.mediaImage {
    width: 100%;
    display: block;
    height: auto;
    width: 200px;
    object-fit: cover;

}
.modalImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
    
}
.imageModal {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    height: 90vh;
    width: 90vw;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 999;
}
.closeImageModal {
    cursor: pointer;
    border: none;
    position: absolute;
    top: 5px;
    right: 5px;
    color: black;
    font-weight: bold;
}

.comments textarea {
    margin-top: 20px;
    background-color: #ECECEC;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 6px;
    width: 90%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
}
.comments button {
    background-color: #0472FB;
    font-weight: bold;
    margin: 20px auto;
    display: block;
    cursor: pointer;
    margin-left: auto;
}
.comments button:hover {
    background-color: #01459a;
}
.allComments {
    text-align: left;
    margin: 10px;
    margin-bottom: 20px;
}
.allComments h4 {
    color: rgb(36, 36, 36);
}
.allComments h5 {
    color: rgb(103, 103, 103);
}
.updateBtn {
    background-color: #4BA3A5;
    border: 0;
    color: white;font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    display: block;
    border-radius: 4px;
    width: fit-content;
    padding: 8px 15px;
    transition: all .3s;
}
.updateBtn:hover {
    background-color: #126668;
}
.notifications {
    position: fixed;
    bottom: 0%;
    left: 0%;
    padding: 20px 30px;
    background-color: black;
    color: white;
    min-width: 30vw

}
.notifications p {
    margin-bottom: 12px;
}


