
.tasks {
    position: fixed;
    right: 30px;
    border-radius: 10px;
    height: 85vh;
    padding: 20px;
    overflow-y: scroll;
    background-color: #fff;
}
.tasksHeading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.tasksHeading h3 {
    font-size: 1.3rem;
    font-weight: 500;
}
.task {
    background-color: #EAEDF0;
    padding: 12px;
    border-radius: 12px;
    margin-bottom: 12px;
}
.task p {
    font-size: 1rem;
    color: rgb(63, 63, 63);
}
.progress {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.progressBar {
    margin-right: 8px;
    height: 8px;
    width: 100%;
    background-color: #fff;
    border-radius: 6px;
}
.progressInner {
    height: 100%;
    border-radius: 6px;
    background-color: #22242E;
}
.task h2, .task h3 {
    font-weight: 500;
    margin-bottom: 2px;
}
.task h3 {
    color: rgb(63, 63, 63);
    font-weight: 400;
    font-size: 1.1rem;
}
.layers div {
    margin: 6px 0;
    background-color: grey;
    height: 50px;
    width: 250px;
    border-radius: 20px 20px 2px 2px;
    position: relative;
}
.layers div p {
    position: absolute;
    width: 100%;
    left: 110%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.3rem;
    font-weight: 500;
    transition: all .2s;
    cursor: pointer;
}
.layers div p:hover {
    font-size: 1.6rem;
    color: rgb(0, 82, 225);
}
.dropdown, .sortDropdown {
    font-size: 1rem;
    font-weight: 500;
    border-radius: 6px !important;
    border: 2px solid #0A60BD !important;
    padding: 5px 10px !important;
    background-color: #fff !important;
    color: #22242E !important;
    outline: none !important;
    cursor: pointer !important;
}
.sortDropdown {
    border: none !important;
    border: 2px solid #EAEDF0 !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px !important;
}
.dropdownMenu {
    border: 2px solid #D9E1E7 !important;
    margin-top: 8px !important;
    border-radius: 10px !important;
    font-size: 1.2rem !important;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='blue' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    padding: 1rem;
    padding-right: 2rem;
  }
.dropdownArrow, .sortDropdownArrow {
    border-color: #0A60BD transparent transparent !important;
    top: 50% !important;
    transform: translateY(-50%);
    font-size: 2rem;
    border-width: 8px 8px 0 !important;
}
.allTasksBtn {
    position: absolute;
    top: 20px;
    left: 20px;
}
.line {
    background-color: rgba(184, 184, 184, 0.322);
    height: 2px;
    width: 80%;
    margin: 8px auto;
    border-radius: 4px;
}
.taskDetails {
    display: grid;
    grid-template-columns: 60% 40%;
    justify-content: space-between;
    align-items: flex-start;
}
.dates p {
    font-size: 0.9rem;
    width: fit-content;
}
.dates span {
    display: block;
    font-weight: 600;
    font-size: 1.2rem;
}
.tasks::-webkit-scrollbar {
    width: 8px;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
}
.t
/* Track */
.tasks::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey;
    border-radius: 10px;
    background-color: red !important;
}
/* Handle */
.tasks::-webkit-scrollbar-thumb {
    background: #A9A9A9;
    height: 100px;
    border-radius: 10px;
}
/* Handle on hover */
.tasks::-webkit-scrollbar-thumb:hover {
    background: #009EB3;
}
.skeleton {
    border-radius: 12px;
    background-color: #EAEDF0;
    padding: 12px;
    margin-bottom: 12px;
}


.tabs{
    font-family:arial;
    margin:0 auto;
    width:70%;
    text-align:center;
    margin-top:15vh;
  }
  
  img{
    width:300px;
  }
  
  .tab-buttons{
    margin-bottom:50px;
  }
  
  button{
    margin-right:15px;
    font-size:20px;
    background:transparent;
    border:none;
    outline:none;
    padding:10px 20px ;
    cursor:pointer;
    color:rgba(0,0,0,.4);
    transition:all ease-in-out .2s;
    border-bottom:2px solid transparent;
    
  }
  .active{
    border-bottom:2px solid #42b3f4;
   
    color:black;
  }